<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.latber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Latber">
<!--        register QouteScheduler sebagai service-->
        <service
            android:name=".jobScheduler.QuotesScheduler"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".airPlaneReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.rating" />
        <activity android:name=".activities.metode" />
        <activity android:name=".activities.done" />
        <activity android:name=".activities.dapatMontir" />
        <activity
            android:name=".activities.menu"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- android:theme="@style/NoAction" -->
        </activity>
        <activity
            android:name=".activities.beli"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Beli Langsung"
            android:parentActivityName=".Sparepart" />
        <activity
            android:name=".Sparepart"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Register"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Register"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>